@font-face {
    font-family: KGten;
    src: url(fonts/KGTenThousandReasons.ttf);
}

.navbar{
	background-color:transparent;
	font-family: 'KGten';
	border:none;
}
.navbar-header .navbar-brand{
	color:white;

}
#sticker{
	position: absolute;
}

#sticker-sticky-wrapper{
	height:0;
}
.nav.navbar-nav li a {
   color: white;
 }

 .blacknav{
 	background-color:black;
 }

.jumbotron{
	background: url("../img/chalkboard.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	background-repeat:no-repeat;
	color:white;
	height:512px;
	width:100%;
	font-family: 'KGten', sans-serif;
}

.jumbotron h3{
	color: red;
}


#aboutPicture{
	background: url("http://placehold.it/300x300");
	background-position: stretch;
	height:300px;
	width:300px;
}
#googleMap{
	margin:20px;
	height:400px;
}


#menuContainer{
	background-color: black;
	color:white;
}

.menuThumb{  /* need to fix thumbnail for medium and small devices */
	margin:auto;
	text-align: center;
	background: url("http://placehold.it/180x180");
	height:200px;
	width:200px;
}

.thumbnail{
	height:500px;
	width:225px;
}