@font-face {
    font-family: KGten;
    src: url(fonts/KGTenThousandReasons.ttf);
}

.navbar{
	background-color:transparent;
	font-family: 'KGten';
	border:none;
}
.navbar-header .navbar-brand{
	color:white;

}
#sticker{
	position: absolute;
}


.item{
	height:700px;
	background: url("../img/chalkboard.jpg");

}
#carousel1{
	height:100%;
	background: url("../img/MicksKarmaCombo.jpg");
	background-position:bottom;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

#carousel2{
	height:100%;
	background: url("../img/MicksCheese.jpg");
	background-position:center;
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;	

}

#carousel3{
	height:100%;
	background: url("../img/TriDrinks.jpg");
	background-position:center;
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;	

}

#sticker-sticky-wrapper{
	height:0;
}
.nav.navbar-nav li a {
   color: white;
 }

 .blacknav{
 	background-color:black;
 }

.jumbotron{
	background: url("../img/chalkboard.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	background-repeat:no-repeat;
	color:white;
	height:512px;
	width:100%;
	font-family: 'KGten', sans-serif;
}

.jumbotron h3{
	color: red;
}


#aboutPicture{
	background: url("../img/Micks.jpg");
	background-size:cover;
		background-position: center;
	height:300px;
	width:300px;
}
#googleMap{
	margin:20px;
	height:400px;
}


#menuContainer{
	background-color: black;
	color:white;
}

.menuThumb{  /* need to fix thumbnail for medium and small devices */
	margin:auto;
	margin-top:10px;
	text-align: center;

	height:180px;
	width:180px;
}

#menuPic1{
	background: url("../img/MicksKarmaEgg.jpg");
	background-size:cover;
}
#menuPic2{
	background: url("../img/MicksKarmaCombo.jpg");
	background-size:cover;
}
#menuPic3{
	background: url("../img/StrawberryBasil.jpg");
	background-size:cover;
}
#menuPic4{
	background: url("../img/ComboDrink2.jpg");
	background-size:cover;
}
#footerContainer{
	height:100px;
	background-color:black;
	color:white;
}

#footerContainer a{
	color:white;
}
#footerContainer a:hover{
	color:red;

}

@media only screen and (max-width: 780px) { 
   .item{
	height:600px;
	background: url("../img/chalkboard.jpg");
   }
  #carousel1{
	height:100%;
	background: url("../img/MicksKarmaCombo.jpg");
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
  }
    #carousel2{
	height:100%;
	background: url("../img/MicksCheese.jpg");
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
  }
    #carousel3{
	height:100%;
	background: url("../img/TriDrinks.jpg");
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
  }
}
